Source: luxon-server
Maintainer: Tuxifan <tuxifan@posteo.de>
Section: net
Priority: optional
Standards-Version: 4.7.0
Build-Depends: debhelper-compat (= 13), cmake, ninja-build, git, libmbedtls-dev, libspdlog-dev

Package: luxon-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Clean-room reimplementation of the Photon LoadBalancing server
 Luxon Server is a clean-room implementation of the Photon Realtime server.
 It is built on top of the Luxon project, which provides the necessary
 reimplementation of the ENet protocol and Photon's binary serialization
 format.
 The goal of this project is to be a drop-in replacement for the official
 server for multiplayer games that utilize Photon.
 It aims to support games out of the box, provided they do not rely on complex
 server-side plugins, though a plugin system is available if needed.
