[Unit]
Description=Luxon Server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/etc/luxon_server
ExecStart=/usr/bin/luxon_server

Restart=on-failure
RestartSec=5

DynamicUser=yes

[Install]
WantedBy=multi-user.target
